<section class="mainbar" style="margin-top:5%">
  <section class="matter">
    <div class="container">
      <div class="col-md-4">
        <h3>Filtros</h3>
        <div class="row" style="margin-right:50%; height:30vh;">
          Aqui van los filtros
        </div>
      </div>
      <div class="col-md-8">
        <h2>Productos</h2>
        <div class="row" ng-hide="vm.products.length">
          No hay Productos disponibles ahora mismo, disculpe las molestias
        </div>

        <!-- <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-show="vm.products.length" ng-repeat="prod in vm.products">
          <div class="portfolio-item wow fadeInLeft" data-wow-delay=".5s">
            <a href="#"><img ng-src="{{prod.url}}"></a>
            <div class="overlay">
              <div class="icons">
                <a data-lightbox="image1" href="{{prod.url}}" class="preview"><i class="fa fa-search-plus fa-4x"></i></a>
              </div>
            </div>
          </div>
        </div> -->

        <div ng-show="vm.products.length" ng-repeat="prod in vm.products">
          <div class="col-md-4 center-block" style="padding:10px;">
            <div class="row">
              {{prod.name}}
            </div>
            <div class="row">
              <a href="#"><img style="height:100px;" ng-src="{{prod.url}}"></a>
              <!-- <a data-lightbox="image1" href="assets/img/portfolio/img1.jpg" class="preview"><i class="fa fa-search-plus fa-4x"></i></a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
